<a href="https://colab.research.google.com/github/seonkyena/ML_ex/blob/master/ott.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
movie_data = pd.read_csv('/content/drive/MyDrive/csv파일/movie_data.csv')
movie_data.head()

                  title  year  ... runtime(min)            provider
0  돈 룩 업(Don't Look Up)  2021  ...        139.0                넷플릭스
1   나 홀로 집에(Home Alone)  1990  ...        105.0                디즈니+
2      매트릭스(The Matrix)  1999  ...        136.0  웨이브, 왓챠, 쿠팡플레이, 티빙
3           기적(Miracle)  2021  ...        117.0            넷플릭스, 티빙
4  엔칸토: 마법의 세계(Encanto)  2021  ...        109.0                디즈니+

[5 rows x 10 columns]

In [3]:
platform = ['넷플릭스', '웨이브', '티빙', '쿠팡플레이', '왓챠', '디즈니+', 'seezn', '라프텔']

In [4]:
movie_data['genre']=movie_data['genre'].apply(lambda x: [i for i in x.split(', ')])
movie_data['provider']=movie_data['provider'].apply(lambda x: [i for i in x.split(', ')])
movie_data.genre.head()

0                     [코미디]
1       [코미디, 어드벤처(모험), 가족]
2                  [액션, SF]
3                     [드라마]
4    [코미디, 어드벤처(모험), 애니메이션]
Name: genre, dtype: object

In [5]:
genre_pop = [x for x in movie_data.iloc[:4].genre]
genre_list = []
for i in genre_pop:
  for j in i:
    if j not in genre_list:
      genre_list.append(j)
genre_list

['코미디', '어드벤처(모험)', '가족', '액션', 'SF', '드라마']

In [6]:
s = []
a = ['코미디', '가족', '드라마']


for contents_genre in movie_data.genre:
  cnt = 0
  for cg in contents_genre:
    if cg in a:
      cnt += 1
  s.append(cnt)

movie_data['genre_rank'] = s

In [7]:
movie_data = movie_data.sort_values('genre_rank', ascending=False)
movie_data.head()

                                    title  ...  genre_rank
910    하이 스쿨 뮤지컬 2(High School Musical 2)  ...           3
1354     34번가의 기적(Miracle on 34th Street)  ...           3
2913                             페임(Fame)  ...           3
300                     라따뚜이(Ratatouille)  ...           3
10681         술이 깨면 집에 가자(Wandering Home)  ...           3

[5 rows x 11 columns]

In [8]:
movie_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15873 entries, 910 to 15872
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         15873 non-null  object
 1   year          15873 non-null  int64
 2   kind          15873 non-null  object
 3   KMRB          15299 non-null  object
 4   genre         15873 non-null  object
 5   country       15861 non-null  object
 6   cast          8645 non-null   object
 7   director      15728 non-null  object
 8   runtime(min)  15782 non-null  float64
 9   provider      15873 non-null  object
 10  genre_rank    15873 non-null  int64
dtypes: float64(1), int64(2), object(8)
memory usage: 1.5+ MB

In [9]:
platform_pop = [x for x in movie_data.iloc[:10].provider]
platform_list = []
for i in platform_pop:
  for j in i:
    platform_list.append(j)
platform_list

['디즈니+',
 '디즈니+',
 '웨이브',
 '왓챠',
 '넷플릭스',
 '티빙',
 '디즈니+',
 '왓챠',
 '웨이브',
 '왓챠',
 '티빙',
 '왓챠',
 '넷플릭스',
 '넷플릭스',
 '웨이브',
 '왓챠']

In [10]:
rank = {}
for i in platform:
  if i not in rank.keys():
    rank[i] = platform.count(i)
rank

{'seezn': 1,
 '넷플릭스': 1,
 '디즈니+': 1,
 '라프텔': 1,
 '왓챠': 1,
 '웨이브': 1,
 '쿠팡플레이': 1,
 '티빙': 1}