<a href="https://colab.research.google.com/github/seonkyena/ML_ex/blob/master/ott.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
movie_data = pd.read_csv('/content/drive/MyDrive/csv파일/movie_data.csv')
movie_data.head()

                  title  year  ... runtime(min)            provider
0  돈 룩 업(Don't Look Up)  2021  ...        139.0                넷플릭스
1   나 홀로 집에(Home Alone)  1990  ...        105.0                디즈니+
2      매트릭스(The Matrix)  1999  ...        136.0  웨이브, 왓챠, 쿠팡플레이, 티빙
3           기적(Miracle)  2021  ...        117.0            넷플릭스, 티빙
4  엔칸토: 마법의 세계(Encanto)  2021  ...        109.0                디즈니+

[5 rows x 10 columns]

In [3]:
platform = ['넷플릭스', '웨이브', '티빙', '쿠팡플레이', '왓챠', '디즈니+', 'seezn', '라프텔']

In [4]:
movie_data['genre']=movie_data['genre'].apply(lambda x: [i for i in x.split(', ')])
movie_data['provider']=movie_data['provider'].apply(lambda x: [i for i in x.split(', ')])
movie_data.genre.head()

0                     [코미디]
1       [코미디, 어드벤처(모험), 가족]
2                  [액션, SF]
3                     [드라마]
4    [코미디, 어드벤처(모험), 애니메이션]
Name: genre, dtype: object

In [5]:
genre_pop = [x for x in movie_data.iloc[:4].genre]
genre_list = []
for i in genre_pop:
  for j in i:
    genre_list.append(j)
genre_list

['코미디', '코미디', '어드벤처(모험)', '가족', '액션', 'SF', '드라마']

In [6]:
genre_rank = {}
for i in genre_list:
  genre_rank[i] = genre_list.count(i)
genre_rank

{'SF': 1, '가족': 1, '드라마': 1, '액션': 1, '어드벤처(모험)': 1, '코미디': 2}

In [7]:
s = []
a = ['코미디', '가족', '드라마']


for contents_genre in movie_data.genre:
  cnt = 0
  for cg in contents_genre:
    if cg in list(genre_rank.keys()):
      cnt += genre_rank[cg]
  s.append(cnt)

movie_data['genre_rank'] = s

In [19]:
movie_ranking = movie_data.sort_values('genre_rank', ascending=False)
movie_ranking = movie_ranking[movie_ranking['genre_rank']>=max(s)-2]

In [20]:
movie_ranking.sort_index().head()

                                       title  ...  genre_rank
1                        나 홀로 집에(Home Alone)  ...           4
7   스파이더맨: 파 프롬 홈(Spider-Man: Far From Home)  ...           5
10   킹스맨: 골든 서클(Kingsman: The Golden Circle)  ...           4
27         나 홀로 집에 2 - 뉴욕을 헤매다(Home Alone 2)  ...           4
72                   나 홀로 집에 3(Home Alone 3)  ...           4

[5 rows x 11 columns]

In [10]:
movie_ranking.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8 entries, 1684 to 3421
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         8 non-null      object
 1   year          8 non-null      int64
 2   kind          8 non-null      object
 3   KMRB          7 non-null      object
 4   genre         8 non-null      object
 5   country       8 non-null      object
 6   cast          5 non-null      object
 7   director      8 non-null      object
 8   runtime(min)  8 non-null      float64
 9   provider      8 non-null      object
 10  genre_rank    8 non-null      int64
dtypes: float64(1), int64(2), object(8)
memory usage: 768.0+ bytes

In [11]:
platform_pop = [x for x in movie_ranking.provider]
platform_list = []
for i in platform_pop:
  for j in i:
    platform_list.append(j)
platform_list

['넷플릭스',
 '왓챠',
 '티빙',
 '웨이브',
 '넷플릭스',
 '아마존 프라임 비디오',
 '디즈니+',
 '디즈니+',
 '넷플릭스',
 '쿠팡플레이',
 'seezn',
 '왓챠',
 '티빙',
 '웨이브']

In [12]:
rank = {}
for i in platform:
  rank[i] = platform_list.count(i)
rank

{'seezn': 1,
 '넷플릭스': 3,
 '디즈니+': 2,
 '라프텔': 0,
 '왓챠': 2,
 '웨이브': 2,
 '쿠팡플레이': 1,
 '티빙': 2}